{% macro camera_and_caption(width="100%", max_height="300px", caption_id="captionBox") %}
<div class="text-center mb-3">
  <img
    src="{{ url_for('video_feed') }}"
    alt="Camera Feed"
    style="max-width: {{width}}; max-height: {{max_height}};"
  />
</div>
<div class="border rounded p-2" id="{{ caption_id }}">
  Loading caption...
</div>
{% endmacro %}

{% macro ecg_graph_block(prefix="") %}
<div class="row">
  <!-- ECG Graph -->
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-header text-center">Live ECG</div>
      <div class="card-body">
        <canvas id="{{ prefix }}EcgCanvas"></canvas>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
